/* Désactiver l'affichage de l'URL au survol pour les liens */
a {
    pointer-events: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.iframe-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

iframe {
    position: absolute;
    top: -100px; /* Ajustez cette valeur pour masquer l'en-tête */
    left: 0;
    width: 100%;
    height: calc(100% + 100px); /* Ajustez cette valeur pour correspondre à la valeur top */
    border: none;
}
